<%= title("Dánh sách Loại phòng") %>

<header>
  <h2>Dánh sách Loại phòng</h2>
</header>

<% if @types.present? %>
  <div class="listing-index">
    <table>
      <thead>
        <tr>
          <th>Tên Loại phòng</th>
          <th>Giá Loại phòng</th>   
          <th></th>         
        </tr>
      </thead>
      <tbody>
        <% @types.each do |type| %>
          <tr>
            <td class="padding-top-15"><%= render partial: "room_types/room_type",
                locals: { room_type: type } %></td>
            <td class="padding-top-15"><%= format_money(type.cost) %></td>
            <td>
              <%= link_to 'Sửa', [:edit, :admin, type], class: "edit" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= link_to "Trở về", :back, class: "back" %>
