<%= title("Danh sách Dịch vụ") %>

<p id="notice"><%= notice %></p>

<header>
  <h2>Danh sách Dịch vụ</h2>
  <% admins_only do %>
  <ul class="actions">
    <li><%= link_to "Thêm mới", new_admin_service_path, class: "new" %></li>
  </ul>
  <% end %>
</header>

<% if @services.present? %>
  <div class="listing-index">
    <table>
      <thead>
        <tr>
          <th>Tên</th>
          <th>Đơn vị tính</th>
          <th>Giá</th>
          <% admins_only do %>
          <th></th>
          <% end %>            
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= service.unit %></td>
            <td>
              <%= format_money(service.price) %>
            </td>
            <% admins_only do %>
            <td>
              <%= link_to 'Sửa', [:edit, :admin, service], class: "edit" %>
              <%= link_to "Xóa", archive_admin_service_path(service),
              class: "delete", method: :patch,
              data: { confirm: "Bạn có chắc xóa Dịnh vụ này không?" } %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>Hiện tại dữ liệu trống.</p>
<% end %>

<div class="will_page">
  <div class="center">
    <div class="row">
      <div class="col-md-12">
        <%= will_paginate @bills %>
      </div>
    </div>
  </div>
</div>

<%= link_to "Back", :back, class: "back" %>
