<%= title("Services") %>

<p id="notice"><%= notice %></p>

<header>
  <h1>Listing Services</h1>
  <ul class="actions">
    <li><%= link_to "New Service", new_service_path, class: "new" %></li>
  </ul>
</header>

<% if @services.present? %>
  <div class="listing-index">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Unit price</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= service.unit %></td>
            <td>
              <%= number_with_delimiter(service.price, delimiter: ',') %>
            </td>
            <td>
              <%= link_to 'Edit', [:edit, service], class: "edit" %>
              <%= link_to 'Delete', service, method: :delete, class: "delete",
                data: { confirm: 'Are you sure to delete this service?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>There is nothing to show. <%= link_to "New one?", new_room_path %></p>
<% end %>

<%= link_to "Back to Home", root_path, class: "back" %>
