<%= title("Services") %>

<p id="notice"><%= notice %></p>

<header>
  <h2>Listing Services</h2>
  <% admins_only do %>
  <ul class="actions">
    <li><%= link_to "New Service", new_admin_service_path, class: "new" %></li>
  </ul>
  <% end %>
</header>

<% if @services.present? %>
  <div class="listing-index">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Unit price</th>
          <th>Price</th>
          <% admins_only do %>
          <th>Actions</th>
          <% end %>            
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= service.unit %></td>
            <td>
              <%= format_money(service.price) %>
            </td>
            <% admins_only do %>
            <td>
              <%= link_to 'Edit', [:edit, :admin, service], class: "edit" %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>There is nothing to show.</p>
<% end %>

<%= link_to "Back", :back, class: "back" %>
