<%= title("Services") %>

<p id="notice"><%= notice %></p>

<header>
  <h1>Listing Services</h1>
  <% if user_signed_in? && current_user.admin? %>
    <ul class="actions">
      <li><%= link_to "New Service", new_service_path, class: "new" %></li>
    </ul>
  <% end %>
</header>

<% if @services.present? %>
  <div class="listing-index">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Unit price</th>
          <th>Price</th>
          <% if user_signed_in? && current_user.admin? %>
            <th>Actions</th>            
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= service.unit %></td>
            <td>
              <%= number_with_delimiter(service.price, delimiter: ',') %>
            </td>
            <% if user_signed_in? && current_user.admin? %>
              <td>
                <%= link_to 'Edit', [:edit, service], class: "edit" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>There is nothing to show. <%= link_to "New one?", new_room_path %></p>
<% end %>

<%= link_to "Back to Home", root_path, class: "back" %>
