<%= simple_form_for [:admin, @service] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Tên Dịch vụ" %>
    <%= f.input :unit, label: "Đơn vị tính" %>
    <%= f.input :price, label: "Giá" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, @service.new_record? ? "Tạo Dịch vụ" : "Cập nhật",
    	class: "btn-success" %>
  </div>
<% end %>
