<%= title("Danh sách Nhân viên") %>

<header>
	<h2>Danh sách Nhân viên</h2>

	<ul class="actions">
		<li><%= link_to "Thêm mới", new_admin_employee_path,
			class: "new" %></li>
	</ul>
</header>

<div id="employees">
<% if @employees.present? %>
	<div class="listing-index icon-only">
		<table>
			<thead>
				<tr>
					<th>STT</th>
					<th>Họ và tên</th>
					<th>Giới tính</th>
					<th>Ngày sinh</th>
					<th>Ngày vào làm</th>
					<th>Số điện thoại</th>
					<th>Địa chỉ</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @employees.each_with_index do |employee, index| %>
				<tr>
					<td class="padding-top-15"><%= link_to index + 1 %></td>
					<td class="padding-top-15"><%= employee.name %></td>
					<td class="padding-top-15"><%= employee.to_gender %></td>
					<td class="padding-top-15">
						<%= employee.date_of_birth.strftime("%d-%m-%Y") %>
					</td>
					<td class="padding-top-15">
						<%= employee.created_at.strftime("%d-%m-%Y") %>
					</td>
					<td class="padding-top-15"><%= employee.phone %></td>
					<td class="padding-top-15"><%= employee.address %></td>
					<td>
						<%= link_to "", [:edit, :admin, employee], class: "edit" %>
						<%= link_to "", reset_password_admin_employee_path(employee),
							class: "reset", method: :patch, title: "Làm mới mật khẩu",
							data: { toggle: 'tooltip', placement: "bottom",
								confirm: "Bạn có chắc làm mới mật khẩu nhân viên này?" } %>
						<%= link_to "", [:admin, employee] ,class: "delete",
							method: :delete,
							data: { confirm: "Bạn có chắc xóa nhân viên này?" } %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>
</div>

<div class="will_page">
	<div class="center">
		<div class="row">
			<div class="col-md-12">
				<%= will_paginate @employees %>
			</div>
		</div>
	</div>
</div>

<%= link_to "Trở về", :back, class: "back" %>