<%= title("Bảng điều khiển") %>

<div class="page-header center">
	<h2>Bảng điều khiển</h2>
</div>

<div id="statistic">	
	<div class="row">
		<div class="col-md-3">
			<div class="row top-item top-customers">
				<div class="col-md-5"><%= link_to image_tag("customer.png"),
					customers_path %></div>
				<div class="col-md-7">
					<h3><%= Customer.excluding_archived.count %></h3>
					<h5>Khách hàng</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 bot-item bot-customers">
					<h4>Khách hàng</h4>
					<p><%= Customer.increase_in_this_week %>%</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row top-item top-rooms">
				<div class="col-md-5"><%= link_to image_tag("room.png"),
					rooms_path %></div>
				<div class="col-md-7">
					<h3><%= Room.count %></h3>
					<h5>Phòng</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 bot-item bot-rooms">
					<h4>Phòng</h4>
					<p><%= Room.increase_in_this_week %>%</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row top-item top-employees">
				<div class="col-md-5"><%= link_to image_tag("employee.png"),
					admin_employees_path %></div>
				<div class="col-md-7">
					<h3><%= Employee.excluding_archived.count %></h3>
					<h5>Nhân viên</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 bot-item bot-employees">
					<h4>Nhân viên</h4>
					<p><%= Employee.increase_in_this_week %>%</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row top-item top-services">
				<div class="col-md-5"><%= link_to image_tag("service.png"),
					services_path %></div>
				<div class="col-md-7">
					<h3><%= Service.count %></h3>
					<h5>Dịch vụ</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 bot-item bot-services">
					<h4>Dịch vụ</h4>
					<p><%= Service.increase_in_this_week %>%</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 italic">
			<h6>Thống kê Số lượng Hóa đơn hằng Tuần</h6>
			<%= column_chart Bill.chart_by_week(4) %>
		</div>
		<div class="col-md-4">
	    <div id="calendar"><h2>Calendar</h2></div>
	  </div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#calendar').datepicker({
    });
  });
</script>