<div class="page-header center">
	<h1>Dashboard</h1>
</div>

<div id="statistic">	
	<div class="row">
		<div class="col-md-3">
			<div class="row top-item top-customers">
				<div class="col-md-5"><%= link_to image_tag("customer.png"),
					customers_path %></div>
				<div class="col-md-7">
					<h3><%= Customer.count %></h3>
					<h5>Customers</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 bot-item bot-customers">
					<h4>Customers</h4>
					<p><%= Customer.increase_in_this_month %>%</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row top-item top-rooms">
				<div class="col-md-5"><%= link_to image_tag("room.png"),
					rooms_path %></div>
				<div class="col-md-7">
					<h3><%= Room.count %></h3>
					<h5>Rooms</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 bot-item bot-rooms">
					<h4>Rooms</h4>
					<p><%= Room.increase_in_this_month %>%</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row top-item top-employees">
				<div class="col-md-5"><%= link_to image_tag("employee.png"),
					admin_employees_path %></div>
				<div class="col-md-7">
					<h3><%= Employee.count %></h3>
					<h5>Employees</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 bot-item bot-employees">
					<h4>Employees</h4>
					<p><%= Employee.increase_in_this_month %>%</p>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row top-item top-services">
				<div class="col-md-5"><%= link_to image_tag("service.png"),
					services_path %></div>
				<div class="col-md-7">
					<h3><%= Service.count %></h3>
					<h5>Services</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 bot-item bot-services">
					<h4>Services</h4>
					<p><%= Service.increase_in_this_month %>%</p>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-8">
			<h6>Bills</h6>
			<%= column_chart Bill.chart_by_week(4) %>
		</div>
		<div class="col-md-4">
	    <div id="calendar"><h2>Calendar</h2></div>
	  </div>
	</div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $('#calendar').datepicker({
    });
  });
</script>