<%= title("New Bill") %>

<header>
	<h1>New Bill</h1>
</header>

<table class="info">
	<tr>
		<th>ID</th>
		<td><%= @receipt.to_code %></td>
	</tr>
	<tr>
		<th>Tax code</th>
		<td><%= @receipt.to_tax_code %></td>
	</tr>
	<tr>
		<th>Customer</th>
		<td><%= @receipt.customer.name %></td>
	</tr>
	<tr>
		<th>Room</th>
		<td><%= @receipt.room.name %></td>
	</tr>
	<tr>
		<th>Quantity of people</th>
		<td><%= @receipt.quantity %></td>
	</tr>
	<tr>
		<th>Arrival Date</th>
		<td>
			<%= @receipt.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
			(<%= time_ago_in_words(@receipt.created_at) %> ago)
		</td>
	</tr>
	<tr>
		<th>Total cost</th>
		<td><strong>...</strong></td>
	</tr>
</table>
<div class="listing-index">
	<table>
		<thead>
			<tr>
				<th>No.</th>
				<th>Charge</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Room Rent</td>
				<td><%= format_money(@receipt.room.type.cost) %></td>
				<td><%= pluralize(@receipt.total_days, 'day') %></td>
				<td>
					<%= format_money(@receipt.room.type.cost * @receipt.total_days) %>
				</td>
			</tr>
			<% @bill.services.each_with_index do |service, index| %>
				<tr>
					<td><%= index + 2 %></td>
					<td><%= service.name %></td>
					<td><%= format_money(service.price) %></td>
					<td><%= service.get_quantity(@bill) %></td>
					<td>
						<%= format_money(service.price * service.get_quantity(@bill)) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<header>
	<h1>Services</h1>
</header>

<div class="listing-index icon-only">
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Price</th>
	      <th>Quantity</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
			<% @services.each do |service| %>
				<tr>
					<td><%= service.name %></td>
					<td><%= format_money(service.price) %></td>
					<%= simple_form_for service,
						url: update_service_receipt_bill_service_path(@receipt, @bill,
							service) do |f| %>
						
						<td><%= f.input :quantity, as: :integer, label: false, 
							input_html: { value: f.object.get_quantity(@bill) || '0', min: '0' } %></td>

						<td><%= f.button :submit, value: "Update", class: "btn-success" %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
