<%= title("Bills") %>

<header>
	<h1>Listing Bills</h1>
</header>

<% if @bills.present? %>
	<div class="listing-index">
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>Customer</th>
					<th>Room</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody>
				<% @bills.each_with_index do |bill, index| %>
				<tr>
					<td><%= link_to index + 1, bill %></td>
					<td><%#= bill.receipt.customer.name %>...</td>
					<td><%= bill.receipt.room.name %></td>
					<td>...</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show. <%= link_to "New one?", new_customer_path %></p>
<% end %>

<%= link_to "Back to home", root_path, class: "back" %>