<%= title("Bills") %>

<header>
	<h2>Listing Bills</h2>
</header>

<header>
	<div class="row">
		<%= simple_form_for :search,
			url: search_bills_path(:search), :method => 'get' do |f| %>
			<div class="col-sm-8">
			  <%= f.input :q, as: :string, label: false, placeholder: "Enter Bill ID, Name, Room, etc.",
			  	autofocus: true, 
			  	:input_html => { value: (params[:search].nil?) ? "" : params[:search][:q] } %>
			</div>
			<div class="col-sm-4">
				<%= f.button :submit, value: "Find!", class: "btn-default search-btn" %>
			</div>
		<% end %>
	</div>
</header>

<div class="row">
	<div class="col-md-12">
		<div id="spinner" class="spinner" style="display: none;">
			<%= image_tag("spinner.gif", alt: "Loading") %>
		</div>
	</div>
</div>

<div id="bills">

<% if @bills.present? %>
	<div class="listing-index">
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>Customer</th>
					<th>Room</th>
					<th>Date</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody>
				<% @bills.each do |bill| %>
				<tr>
					<td><%= link_to bill.receipt.to_code, bill %></td>
					<td><%= bill.customer.name %></td>
					<td><%= bill.room.name %></td>
					<td>
						<%= bill.created_at.strftime("%d-%m-%Y") %>
					</td>
					<td><strong><%= format_money(bill.receipt.grand_total) %></strong></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show.</p>
<% end %>

</div>

<div class="will_page">
	<div class="center">
		<div class="row">
			<div class="col-md-12">
				<%= will_paginate @bills %>
			</div>
		</div>
	</div>
</div>

<%= link_to "Back", :back, class: "back" %>