<%= title("Bill Details") %>

<header>
	<h1>Bill Details</h1>
	<ul class="actions">
		<li><%= link_to "Export Bill", "#", class: "export" %></li>
	</ul>
</header>

<table class="info">
	<tr>
		<th>ID</th>
		<td><%= @bill.receipt.to_code %></td>
	</tr>
	<tr>
		<th>Tax code</th>
		<td><%= @bill.receipt.to_tax_code %></td>
	</tr>
	<tr>
		<th>Customer</th>
		<td><%= @bill.customer.name %></td>
	</tr>
	<tr>
		<th>Room</th>
		<td><%= @bill.room.name %></td>
	</tr>
	<tr>
		<th>Quantity of people</th>
		<td><%= @bill.receipt.quantity %></td>
	</tr>
	<tr>
		<th>Arrival Date</th>
		<td>
			<%= @bill.receipt.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
		</td>
	</tr>
	<tr>
		<th>Departure Date</th>
		<td>
			<%= @bill.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
			(<%= time_ago_in_words(@bill.receipt.created_at) %> ago)
		</td>
	</tr>
	<tr>
		<th>Total cost</th>
		<td><strong><%= format_money(@bill.total_cost) %></strong></td>
	</tr>
</table>

<div class="listing-index">
	<table>
		<thead>
			<tr>
				<th>No.</th>
				<th>Charge</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Room Rent</td>
				<td><%= format_money(@bill.receipt.room.type.cost) %></td>
				<td><%= pluralize(@bill.receipt.total_days, 'day') %></td>
				<td>
					<%= format_money(@bill.receipt.room.type.cost * @bill.receipt.total_days) %>
				</td>
			</tr>
			<% @bill.services.each_with_index do |service, index| %>
				<tr>
					<td><%= index + 2 %></td>
					<td><%= service.name %></td>
					<td><%= format_money(service.price) %></td>
					<td><%= pluralize(service.get_quantity(@bill), service.unit) %></td>
					<td>
						<%= format_money(service.price * service.get_quantity(@bill)) %>
					</td>
				</tr>
			<% end %>
			<tr>
				<td colspan="4">TOTAL</td>
				<td><strong><%= format_money(@bill.total_cost) %></strong></td>
			</tr>
		</tbody>
	</table>
</div>

<header>
	<h1>Services</h1>
</header>

<div class="listing-index icon-only">
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Price</th>
	      <th>Quantity</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
			<% @services.each do |service| %>
				<tr>
					<td><%= service.name %></td>
					<td><%= format_money(service.price) %></td>
					<%= simple_form_for service,
						url: update_service_bill_service_path(@bill, service) do |f| %>
						<td><%= f.input :quantity, as: :integer, label: false, 
							input_html: { value: service.get_quantity(@bill) || '1', min: '0' } %></td>

						<td><%= f.button :submit, value: "Update", class: "btn-success" %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<%= link_to "Back to home", root_path, class: "back" %>