<%= wicked_pdf_stylesheet_link_tag "application" %>
<%= wicked_pdf_stylesheet_link_tag "pdf" %>

<div id="bill-pdf">
	<div class="container">
		<header>
			<div class="row">
				<div class="col-xs-6">
					<span><%= Time.now.strftime("%d-%m-%Y, %I:%M:%S %p") %></span>
					<h3>Palace Hostel</h3>
					<h4>Hóa đơn <%= @bill.receipt.to_code %></h4>
				</div>

				<div class="col-xs-6">
					<div class="row">
					<div class="col-xs-12">
						<h6>ĐỊA CHỈ</h6>
		        <span class="border-top-info"></span>
		        <p>5046 S Greenwood Avenue, Chicago, IL 60615</p>
					</div>
					</div>
					
					<div class="row">
					<div class="col-xs-12">
						<h6>LIÊN HỆ</h6>
		        <span class="border-top-info"></span>
		        <p>
		          reservation@palacesaigon.com
		        </p>
		        <p>
		          Tel: 123-456-789
		        </p>
					</div>
					</div>

				</div>
			</div>
		</header>

		<table class="info">
			<tr>
				<th>Mã Hóa đơn</th>
				<td><%= @bill.receipt.to_code %></td>
			</tr>
			<tr>
				<th>Mã số thuế</th>
				<td><%= @bill.receipt.to_tax_code %></td>
			</tr>
			<tr>
				<th>Khách hàng</th>
				<td><%= @bill.customer.name %></td>
			</tr>
			<tr>
				<th>Phòng</th>
				<td><%= @bill.room.name %></td>
			</tr>
			<tr>
				<th>Số lượng người</th>
				<td><%= @bill.receipt.quantity %></td>
			</tr>
			<tr>
				<th>Thời điểm đến:</th>
				<td>
					<%= @bill.receipt.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
				</td>
			</tr>
			<tr>
				<th>Thời điểm đi</th>
				<td>
					<%= @bill.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
				</td>
			</tr>
			<tr>
				<th>Nhân viên thanh toán:</th>
				<td><%= @bill.employee_name %></td>
			</tr>
			<tr>
				<th>Trị giá</th>
				<td><strong><%= format_money(@bill.receipt.grand_total) %></strong></td>
			</tr>
		</table>
 
		<div class="listing-index">
			<table>
				<thead>
					<tr>
						<th>STT</th>
						<th>Mô tả</th>
						<th>Đơn vị tính</th>
						<th>Đơn giá</th>
						<th>Số lượng</th>
						<th>Thành tiền</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Tiền thuê phòng</td>
						<td>ngày</td>
						<td><%= format_money(@bill.receipt.room.type.cost) %></td>
						<td><%= pluralize(@bill.receipt.total_days, 'day') %></td>
						<td class="right">
							<%= format_money(@bill.receipt.room.type.cost * @bill.receipt.total_days) %>
						</td>
					</tr>
					<% @bill.receipt.services.each_with_index do |service, index| %>
						<% unless service.get_quantity(@bill) == 0 %>
						<tr>
							<td><%= index + 2 %></td>
							<td><%= service.name %></td>
							<td><%= format_money(service.price) %></td>
							<td><%= pluralize(service.get_quantity(@bill), service.unit) %></td>
							<td class="right">
								<%= format_money(service.price * service.get_quantity(@bill)) %>
							</td>
						</tr>
						<% end %>
					<% end %>
					<tr>
						<td colspan="5">Tổng tiền</td>
						<td class="right"><%= format_money(@bill.receipt.amount) %></td>
					</tr>
					<tr>
						<td colspan="5">Thuế VAT (10%)</td>
						<td class="right">+ <%= format_money(@bill.receipt.amount/10) %></td>
					</tr>
					<tr>
						<td colspan="5">Giảm giá (<%= @bill.discount %>%)</td>
						<td class="right">
							- <%= format_money(@bill.receipt.amount * @bill.discount / 100) %> 
						</td>
					</tr>
					<tr>
						<td colspan="5">Trị giá</td>
						<td class="right">
							<strong><%= format_money(@bill.receipt.grand_total) %></strong>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div id="fixed-bottom">
			<div class="row">
				<div style="padding-bottom: 150px" class="col-xs-6 center">
					<i><b>Cashier Signature</b></i>
				</div>
				<div style="padding-bottom: 150px" class="col-xs-6 center">
					<i><b>Guest Signature</b></i>
				</div>
			</div>
			<p class="center"><strong>THANK YOU!</strong></p>
		</div>
	</div>
</div>
