<%= title("Customers") %>

<header>
	<h1>Listing Customers</h1>

	<ul class="actions">
		<li><%= link_to "New Customer", new_customer_path, class: "new" %></li>
	</ul>
</header>

<% if @customers.present? %>
	<div class="listing-index icon-only">
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th>Type</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @customers.each_with_index do |customer, index| %>
				<tr>
					<td class="padding-top-15"><%= link_to index + 1, customer %></td>
					<td class="padding-top-15"><%= customer.name %></td>
					<td><%= render customer.type %></td>
					<td>
						<%= link_to "", [:edit, customer], class: "edit" %>
						<%= link_to "", customer ,class: "delete",
							method: :delete,
							data: { confirm: "Are you sure to delete this customer?" } %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show. <%= link_to "New one?", new_customer_path %></p>
<% end %>

<%= link_to "Back to home", root_path, class: "back" %>