<%= title("Customers") %>

<header>
	<h2>Listing Customers</h2>
</header>

<header>
	<div class="row">
		<%= simple_form_for :search,
			url: search_customers_path(:search), :method => 'get' do |f| %>
			<div class="col-sm-8">
			  <%= f.input :q, as: :string, label: false, placeholder: "Enter Name, ID Card, Phone, etc.", autofocus: true, 
			  	:input_html => { value: (params[:search].nil?) ? "" : params[:search][:q] } %>
			</div>
			<div class="col-sm-4">
				<%= f.button :submit, value: "Search", class: "btn-default search-btn" %>
			</div>
		<% end %>
	</div>
</header>

<div class="row">
	<div class="col-md-12">
		<div id="spinner" class="spinner" style="display: none;">
			<%= image_tag("spinner.gif", alt: "Loading") %>
		</div>
	</div>
</div>

<div id="customers">
<% if @customers.present? %>
	<div class="listing-index icon-only">
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th>Type</th>
					<% admins_only do %>
					<th>Grand toal bills</th>
					<% end %>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @customers.each_with_index do |customer, index| %>
				<tr>
					<td class="padding-top-15"><%= link_to index + 1, customer %></td>
					<td class="padding-top-15"><%= customer.name %></td>
					<td class="padding-top-15"><%= render customer.type %></td>
					<% admins_only do %>
					<td><strong><%= format_money(customer.total_bills) %></strong></td>
					<% end %>
					<td>
						<%= link_to "", [:edit, customer], class: "edit" %>
						<%= link_to "", reset_password_customer_path(customer),
							class: "reset", method: :patch, title: "Reset password",
							data: { toggle: 'tooltip', placement: "bottom",
								confirm: "Are you sure to reset password this customer?" } %>
						<%= link_to "", customer ,class: "delete",
							method: :delete,
							data: { confirm: "Are you sure to delete this customer?" } %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show.</p>
<% end %>
</div>

<div class="will_page">
	<div class="center">
		<div class="row">
			<div class="col-md-12">
				<%= will_paginate @customers %>
			</div>
		</div>
	</div>
</div>

<%= link_to "Back", :back, class: "back" %>