<header>
	<h1>Listing Customers</h1>

	<ul class="actions">
		<li><%= link_to "New Customer", new_customer_path, class: "new" %></li>
	</ul>
</header>

<% if @customers.present? %>
	<div class="listing-index">
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<% @customers.each_with_index do |customer, index| %>
				<tr>
					<td><%= link_to index + 1, customer %></td>
					<td><%= customer.name %></td>
					<td><%= customer.type.name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show. <%= link_to "New one?", new_customer_path %></p>
<% end %>

<%= link_to "Back to home", root_path, class: "back" %>