<%= title(@customer.name, "Customers") %>

<header>
	<h1>Customer Details</h1>
	<% if current_user.try(:admin?) %>
		<ul class="actions">
			<li><%= link_to "Edit Customer", [:edit, @customer], class: "edit" %></li>
			<li><%= link_to "Delete Customer", @delete ,class: "delete",
				method: :delete,
				data: { confirm: "Are you sure to delete this customer?" } %></li>
		</ul>
	<% end %>
</header>

<table class="info">
	<tr>
		<th>Name</th>
		<td><%= @customer.name %></td>
	</tr>
	<tr>
		<th>Idenity Card</th>
		<td><%= @customer.identity_card %></td>
	</tr>
	<tr>
		<th>Type</th>
		<td>
			<div class="row">
				<div class="all-grid-system-4"><%= render @customer.type %></div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Discount</th>
			<td><%= @customer.type.discount %> %</td>
	</tr>
	<tr>
		<th>Phone number</th>
			<td><%= @customer.check_blank(@customer.phone_number) %></td>
	</tr>
	<tr>
		<th>Address</th>
			<td><%= @customer.check_blank(@customer.address) %></td>
	</tr>
	<tr>
		<th>Created at</th>
			<td><%= @customer.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %></td>
	</tr>
</table>

<header>
	<h1>History</h1>
</header>

<% if @receipts.present? %>
	<div class="listing-index">
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>Room</th>
					<th>Status</th>
					<th>Arrival/Departure Date</th>
				</tr>
			</thead>
			<tbody>
				<% @receipts.each_with_index do |receipt, index| %>
				<tr>
					<td class="padding-top-15">
						<%= link_to index + 1, receipt %>
					</td>
					<td class="padding-top-15"><%= receipt.room.name %></td>
					<td>
						<span class="label_type receipt_status-<%= receipt.status.
							parameterize %>">
							<%= receipt.status %>
						</span>
					</td>
					<td class="padding-top-15">
						<% if receipt.bill.blank? %>
							<%= receipt.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
							(<%= time_ago_in_words(receipt.created_at) %> ago)
						<% else %>
							<%= receipt.bill.created_at.strftime("%d-%m-%Y") %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show.</p>
<% end %>

<% unless @customer.receipts.nil? %>
<div class="will_page">
	<div class="center">
		<div class="row">
			<div class="col-md-12">
				<%= will_paginate @receipts %>
			</div>
		</div>
	</div>
</div>
<% end %>

<header>
	<h1>Bill</h1>
</header>

<% if @bills.present? %>
	<div class="listing-index">
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>Room</th>
					<th>Date</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody>
				<% @bills.each_with_index do |bill, index| %>
					<tr>
						<td><%= link_to index + 1, bill %></td>
						<td><%= bill.room.name %></td>
						<td>
							<%= bill.created_at.strftime("%d-%m-%Y") %>
						</td>
						<td><strong><%= format_money(bill.grand_total) %></strong></td>
					</tr>
				<% end %>
				<tr>
					<td class="center" colspan="3">Total</td>
					<td><strong><%= format_money(@customer.total_bills) %></strong></td>
				</tr>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show.</p>
<% end %>

<% unless @customer.bills.nil? %>
<div class="will_page">
	<div class="center">
		<div class="row">
			<div class="col-md-12">
				<%= will_paginate @bills %>
			</div>
		</div>
	</div>
</div>
<% end %>

<%= link_to "Back", :back, class: "back" %>