<%= title(@customer.name, "Khách hàng") %>

<header>
	<h2><%= current_user.admin? || current_user.employee? ? "Chi tiết Khách hàng" :
		"Hồ sơ của tôi" %></h2>
	<% if current_user.try(:admin?) %>
		<ul class="actions">
			<li><%= link_to "Chỉnh sửa", [:edit, @customer], class: "edit" %></li>
			<%#= link_to "", archive_admin_customer_path(customer),
							class: "delete", method: :patch,
							data: { confirm: "Bạn có chắc xóa khách hàng này?" } %>
		</ul>
	<% end %>
</header>

<table class="info">
	<tr>
		<th>Họ và tên</th>
		<td><%= @customer.name %></td>
	</tr>
	<tr>
		<th>Số CMND</th>
		<td><%= @customer.identity_card %></td>
	</tr>
	<tr>
		<th>Loại Khách hàng</th>
		<td>
			<div class="row">
				<div class="all-grid-system-4"><%= render @customer.type %></div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Giảm giá</th>
			<td><%= @customer.type.discount %> %</td>
	</tr>
	<tr>
		<th>Số điện thoại</th>
			<td><%= @customer.check_blank(@customer.phone_number) %></td>
	</tr>
	<tr>
		<th>Địa chỉ</th>
			<td><%= @customer.check_blank(@customer.address) %></td>
	</tr>
	<tr>
	<th>Ngày tạo tài khoản</th>
		<td><%= @customer.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %></td>
	</tr>
</table>

<header>
	<h2>Lịch sử</h2>
</header>

<h3>Biên lai</h3>

<% if @receipts.present? %>
	<div class="listing-index">
		<table>
			<thead>
				<tr>
					<th>STT</th>
					<th>Mã Hóa đơn</th>
					<th>Phòng</th>
					<th>Tình trạng</th>
					<th>Thời điểm đi/đến</th>
				</tr>
			</thead>
			<tbody>
				<% @receipts.each_with_index do |receipt, index| %>
				<tr>
					<td class="padding-top-15">
						<%= link_to index + 1, receipt %>
					</td>
					<td class="padding-top-15"><%= receipt.to_code %></td>
					<td class="padding-top-15"><%= receipt.room.name %></td>
					<td>
						<span class="label_type receipt_status-<%= receipt.status.
							parameterize %>">
							<%= receipt.status %>
						</span>
					</td>
					<td class="padding-top-15">
						<% if receipt.bill.blank? %>
							<%= receipt.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
							(<%= time_ago_in_words(receipt.created_at) %> ago)
						<% else %>
							<%= receipt.bill.created_at.strftime("%d-%m-%Y") %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>Hiện tại dữ liệu trống.</p>
<% end %>

<% unless @customer.receipts.nil? %>
<div class="will_page">
	<div class="center">
		<div class="row">
			<div class="col-md-12">
				<%= will_paginate @receipts %>
			</div>
		</div>
	</div>
</div>
<% end %>

<h3>Hóa đơn</h3>

<% if @bills.present? %>
	<div class="listing-index">
		<table>
			<thead>
				<tr>
					<th>STT</th>
					<th>Mã Hóa đơn</th>
			
					<th>Trị giá</th>
				</tr>
			</thead>
			<tbody>
				<% @bills.each_with_index do |bill, index| %>
					<tr>
						<td><%= link_to index + 1, bill %></td>
						<td><%= bill.receipt.to_code %></td>
						<td><strong><%= format_money(bill.receipt.grand_total) %></strong></td>
					</tr>
				<% end %>
				<tr>
					<td class="center" colspan="2">Tổng trị giá</td>
					<td><strong><%= format_money(@customer.total_bills) %></strong></td>
				</tr>
			</tbody>
		</table>
	</div>
<% else %>
	<p>Hiện tại dữ liệu trống.</p>
<% end %>

<% unless @customer.bills.nil? %>
<div class="will_page">
	<div class="center">
		<div class="row">
			<div class="col-md-12">
				<%= will_paginate @bills %>
			</div>
		</div>
	</div>
</div>
<% end %>

<%= link_to "Trở về", customers_path, class: "back" %>