<div id="statistic_date">
	<header>
		<h1>Room Statistics</h1>

		<ul class="actions">
			<li class="export"><%= link_to "Generate PDF", :action => "index",
				:format => :pdf %></li>
			<li id="spinner" class="spinner" style="display: none;">
		    <%= image_tag("spinner.gif", alt: "Loading") %>
		  </li>
		</ul>
	</header>

	<header>
		<div class="row">
			<%= simple_form_for @date, :url => search_admin_statistics_path,
				:method => 'get' do |f| %>
				<div class="col-sm-3">
				  <%= f.input :start_date, order: [:day, :month, :year],
				  selected: @date.start_date %>
				</div>
				<div class="col-sm-3">
					<%= f.input :end_date, order: [:day,:month, :year],
					selected: @date.end_date %>
				</div>
				<div class="col-sm-2">
					<label>&nbsp;</label>
					<%= f.button :submit, value: "Search",
						class: "btn btn-default search-btn" %>
				</div>
			<% end %>
		</div>
	</header>
	
	<div class="row">
		<div class="col-md-12">
			<div id="spinner" class="spinner" style="margin: 50px auto;">
				<%= image_tag("spinner.gif", alt: "Loading") %>
			</div>
		</div>
	</div>
	
	<div id="statistics">
	<div class="row">
		<div class="col-md-6">
			<div class="listing-index icon-only">
				<table>
					<thead>
						<tr>
							<th>No.</th>
							<th>Type</th>
							<th>Revenue</th>
							<th>Percentage</th>
						</tr>
					</thead>
					<tbody>
						<% RoomType.all.each_with_index do |type, index| %>
						<tr>
							<td class="padding-top-15"><%= index + 1 %></td>
							<td><%= render partial: "room_types/room_type",
								locals: { room_type: type } %></td>
							<td class="padding-top-15">
								<%= format_money(type.amount(@date.start_date,
									@date.end_date)) %>
							</td>
							<td class="padding-top-15">
								<%= type.percentage_revenues(@date.start_date,
									@date.end_date) %> %
							</td>
						</tr>
						<% end %>
						<tr>
							<td colspan="4">
								<strong>
									Total revenue: 
									<%= format_money(RoomType.total_amount(@date.start_date,
										@date.end_date)) %>
								</strong>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-6">
			<%= pie_chart RoomType.revenue_chart(@date.start_date, @date.end_date) %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-push-6">
			<div class="listing-index icon-only">
				<table>
					<thead>
						<tr>
							<th>No.</th>
							<th>Type</th>
							<th>Number of days rented</th>
							<th>Percentage</th>
						</tr>
					</thead>
					<tbody>
						<% RoomType.all.each_with_index do |type, index| %>
						<tr>
							<td class="padding-top-15"><%= index + 1 %></td>
							<td><%= render partial: "room_types/room_type",
								locals: { room_type: type } %></td>
							<td class="padding-top-15">
								<%= type.total_days(@date.start_date,	@date.end_date) %>
							</td>
							<td class="padding-top-15">
								<%= type.percentage_days(@date.start_date, @date.end_date) %> %
							</td>
						</tr>
						<% end %>
						<tr>
							<td colspan="4">
								<strong>
									Total days: 
									<%= RoomType.total_days(@date.start_date, @date.end_date) %>
								</strong>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-6 col-md-pull-6">
			<%= pie_chart RoomType.day_chart(@date.start_date, @date.end_date) %>
		</div>
	</div>
	</div>
</div>