<%= title("Rooms") %>

<header>
	<h1>Listing Rooms</h1>

	<ul class="actions">
		<li><%= link_to "New Room", new_room_path, class: "new" %></li>
	</ul>
</header>

<% if @rooms.present? %>
	<div class="listing-index icon-only">
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @rooms.each_with_index do |room, index| %>
				<tr>
					<td class="padding-top-15"><%= link_to index + 1, room %></td>
					<td class="padding-top-15"><%= room.code %></td>
					<td class="padding-top-15"><%= room.name %></td>
					<td><%= render room.type %></td>
					<td>
						<span class="label_type room_status-<%= room.status.
							parameterize %>">
							<%= room.status %>
						</span>
					</td>
					<td>
						<%= link_to "", [:edit, room], class: "edit" %>
						<%= link_to "", room, class: "delete",
							method: :delete,
							data: { confirm: "Are you sure to delete this room?" } %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<p>How many type A, B, C ..</p>
<% else %>
	<p>There is nothing to show. <%= link_to "New one?", new_room_path %></p>
<% end %>

<%= link_to "Back to home", root_path, class: "back" %>