<%= title("Danh sách Phòng") %>

<header>
	<h2>Danh sách Phòng</h2>
	
	<% admins_only do %>
		<ul class="actions">
			<li><%= link_to "Thêm mới", new_admin_room_path, class: "new" %></li>
		</ul>
	<% end %>
</header>

<header>
	<div class="row">
		<%= simple_form_for :search,
			url: search_rooms_path(:search), :method => 'get' do |f| %>
			<div class="col-sm-8">
			  <%= f.input :q, as: :string, label: false,
			  	placeholder: "Nhập Phòng, Loại, Giá, Ghi chú, ...", autofocus: true, 
			  	:input_html => { value: (params[:search].nil?) ? "" : params[:search][:q] } %>
			</div>
			<div class="col-sm-4">
				<%= f.button :submit, value: "Tìm", class: "btn-default search-btn" %>
			</div>
		<% end %>
	</div>
</header>

<% if @rooms.present? %>
	<div class="listing-index icon-only">
		<table>
			<thead>
				<tr>
					<th>STT</th>
					<th>Tên</th>
					<th>Loại Phòng</th>
					<th>Tình trạng hiện tại</th>
					<% if user_signed_in? && current_user.admin? %>
						<th></th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% @rooms.each_with_index do |room, index| %>
				<tr>
					<td class="padding-top-15"><%= link_to index + 1, room %></td>
					<td class="padding-top-15"><%= room.name %></td>
					<td><%= render room.type %></td>
					<td>
						<span class="label_type room_status-<%= room.status.
							parameterize %>">
							<%= room.status %>
						</span>
					</td>
					<% admins_only do %>
						<td>
							<%= link_to "", [:edit, :admin, room], class: "edit" %>
							<%= link_to "", archive_admin_room_path(room),
							class: "delete", method: :patch,
							data: { confirm: "Bạn có chắc xóa Phòng này không?" } %>
						</td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>Hiện tại dữ liệu trống.</p>
<% end %>

<div class="will_page">
  <div class="center">
    <div class="row">
      <div class="col-md-12">
        <%= will_paginate @bills %>
      </div>
    </div>
  </div>
</div>

<% admins_only do %>
<div class="listing-index icon-only">
	<table>
		<thead>
			<tr>
				<th>STT</th>
				<th>Loại Phòng</th>
				<th>Đơn giá</th>
				<th>Số lượng</th>
			</tr>
		</thead>
		<tbody>
			<% RoomType.all.each_with_index do |type, index| %>
			<tr>
				<td class="padding-top-15"><%= index + 1 %></td>
				<td><%= render type %></td>
				<td><%= format_money(type.cost) %></td>
				<td><%= type.quantity %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<% end %>

<%= link_to "Trở về", :back, class: "back" %>