<%= title(@room.name, "Rooms") %>

<header>
	<h1>Room Details</h1>
	<% admins_only do %>
		<ul class="actions">
			<li><%= link_to "Edit Room", [:edit, :admin, @room], class: "edit" %></li>
			<% if @room.customers.blank? %>
				<li><%= link_to "Delete Room", [:admin, @room] ,class: "delete",
					method: :delete,
					data: { confirm: "Are you sure to delete this room?" } %></li>
			<% end %>
		</ul>
	<% end %>
</header>

<table class="info">
	<tr>
		<th>ID</th>
		<td><%= @room.to_code %></td>
	</tr>
	<tr>
		<th>Name</th>
		<td><%= @room.name %></td>
	</tr>
	<tr>
		<th>Type</th>
		<td>
			<div class="row">
				<div class="all-grid-system-4"><%= render @room.type %></div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Cost</th>
		<td><%= format_money(@room.type.cost) %></td>
	</tr>
	<tr>
		<th>Status</th>
		<td>
			<div class="row">
				<div class="all-grid-system-4">
					<span class="label_type room_status-<%= @room.status.parameterize %>">
						<%= @room.status %>
					</span>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Annotation</th>
			<td><%= @room.check_blank(@room.annotation) %></td>
	</tr>
</table>

<%= link_to "Back", :back, class: "back" %>