<%= title("Phòng #{@room.name}") %>

<header>
	<h2>Chi tiết Phòng</h2>
	<% admins_only do %>
		<ul class="actions">
			<li><%= link_to "Chỉnh sửa", [:edit, :admin, @room], class: "edit" %></li>
			<%= link_to "", archive_admin_room_path(room),
				class: "delete", method: :patch,
				data: { confirm: "Bạn có chắc xóa Phòng này không?" } %>
		</ul>
	<% end %>
</header>

<table class="info">
	<tr>
		<th>Tên phòng</th>
		<td><%= @room.name %></td>
	</tr>
	<tr>
		<th>Loại phòng</th>
		<td>
			<div class="row">
				<div class="all-grid-system-4"><%= render @room.type %></div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Giá phòng</th>
		<td><%= format_money(@room.type.cost) %></td>
	</tr>
	<tr>
		<th>Số lượng người tối đa</th>
		<td><%= @room.max_quantity %></td>
	</tr>
	<tr>
		<th>Tình trạng hiện tại</th>
		<td>
			<div class="row">
				<div class="all-grid-system-4">
					<span class="label_type room_status-<%= @room.status.parameterize %>">
						<%= @room.status %>
					</span>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Ghi chú</th>
		<td><%= @room.check_blank(@room.annotation) %></td>
	</tr>
	<tr>
		<th>Doanh thu phòng trong tuần này</th>
		<td><%= format_money((@room.amount(Date.today.beginning_of_week ,Date.today.end_of_week))) %></td>
	</tr>
</table>

<%= link_to "Trở về", rooms_path, class: "back" %>