<%= title("Danh sách Biên lai") %>

<header>
	<h2>Danh sách Biên lai</h2>
	
	<ul class="actions">
		<% unless Room.available_room.count == 0 %>
			<li><%= link_to "Thêm mới", new_receipt_path,
				class: "new" %></li>
		<% end %>
	</ul>
</header>

<header>
	<div class="row">
		<%= simple_form_for :search,
			url: search_receipts_path(:search), :method => 'get' do |f| %>
			<div class="col-sm-8">
			  <%= f.input :q, as: :string, label: false,
			  	placeholder: "Nhập Mã, Khách hàng hoặc Phòng", autofocus: true, 
			  	:input_html => { value: (params[:search].nil?) ? "" : params[:search][:q] } %>
			</div>
			<div class="col-sm-4">
				<%= f.button :submit, value: "Tìm", class: "btn-default search-btn" %>
			</div>
		<% end %>
	</div>
</header>

<div class="row">
	<div class="col-md-12">
		<div id="spinner" class="spinner" style="display: none;">
			<%= image_tag("spinner.gif", alt: "Loading") %>
		</div>
	</div>
</div>

<div id="receipts">

<% if @receipts.present? %>
	<div class="listing-index icon-only">
		<table>
			<thead>
				<tr>
					<th>Mã Biên lai</th>
					<th>Khách hàng</th>
					<th>Phòng</th>
					<th>Tình trạng</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @receipts.each do |receipt| %>
				<tr>
					<td class="padding-top-15"><%= link_to receipt.to_code, receipt %></td>
					<td class="padding-top-15"><%= receipt.customer.name %></td>
					<td class="padding-top-15"><%= receipt.room.name %></td>
					<td class="padding-top-15">
						<span class="label_type receipt_status-<%= receipt.status.
							parameterize %>">
							<%= receipt.status %>
						</span>
					</td>
					<td class="center">
						<% if receipt.bill.employee.nil? %>
							<%= link_to "", [:edit, receipt], class: "edit" %>
							<%= link_to "", pay_receipt_path(receipt),
							method: :patch, class: "pay", title: "Pay a bill",
							data: { toggle: 'tooltip', placement: "bottom",
								confirm: "Bạn đã chắc thanh toán hóa đơn. Bạn không thể chỉnh sửa khi đã thanh toán." } %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show.</p>
<% end %>
</div>

<div class="will_page">
	<div class="center">
		<div class="row">
			<div class="col-md-12">
				<%= will_paginate @receipts %>
			</div>
		</div>
	</div>
</div>

<%= link_to "Back", :back, class: "back" %>