<%= title("Receipts") %>

<header>
	<h1>Listing Receipts</h1>

	<ul class="actions">
		<li><%= link_to "New Receipt", new_receipt_path,
			class: "new" %></li>
	</ul>
</header>

<% if @receipts.present? %>
	<div class="listing-index icon-only">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Customer</th>
					<th>Room</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @receipts.each do |receipt| %>
				<tr class="test">
					<td><%= link_to receipt.to_code, receipt %></td>
					<td><%= receipt.customer.name %></td>
					<td><%= receipt.room.name %></td>
					<td>
						<span class="label_type receipt_status-<%= receipt.status.
							parameterize %>">
							<%= receipt.status %>
						</span>
					</td>
					<td class="center">
						<% if receipt.bill.nil? %>
							<%= link_to "", [:edit, receipt], class: "edit" %>
							<%= link_to "", pay_receipt_path(receipt),
							method: :patch, class: "pay", title: "Pay a bill",
							data: { toggle: 'tooltip', placement: "bottom",
								confirm: "Are you sure to pay a bill?" } %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show. <%= link_to "New one?", new_receipt_path %></p>
<% end %>

<%= link_to "Back to home", root_path, class: "back" %>