<%= title("Receipts") %>

<header>
	<h1>Listing Receipts</h1>
	
	<ul class="actions">
		<% unless Room.available_room.count == 0 %>
			<li><%= link_to "New Receipt", new_receipt_path,
				class: "new" %></li>
		<% end %>
	</ul>
</header>

<header>
	<div id="receipt-search" class="row">
		<%= simple_form_for :search,
			url: search_receipts_path(:search), :method => 'get' do |f| %>
			<div class="col-sm-8">
			  <%= f.input :q, as: :string, label: false, placeholder: "Enter Receipt ID",
			  	autofocus: true, 
			  	:input_html => { value: (params[:search].nil?) ? "" : params[:search][:q] } %>
			</div>
			<div class="col-sm-4">
				<%= f.button :submit, value: "Find!", class: "btn-default search-btn" %>
			</div>
		<% end %>
	</div>
</header>

<% if @receipts.present? %>
	<div class="listing-index icon-only">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Customer</th>
					<th>Room</th>
					<th>Status</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% @receipts.each do |receipt| %>
				<tr>
					<td class="padding-top-15"><%= link_to receipt.to_code, receipt %></td>
					<td class="padding-top-15"><%= receipt.customer.name %></td>
					<td class="padding-top-15"><%= receipt.room.name %></td>
					<td>
						<span class="label_type receipt_status-<%= receipt.status.
							parameterize %>">
							<%= receipt.status %>
						</span>
					</td>
					<td class="center">
						<% if receipt.bill.employee.nil? %>
							<%= link_to "", [:edit, receipt], class: "edit" %>
							<%= link_to "", pay_receipt_path(receipt),
							method: :patch, class: "pay", title: "Pay a bill",
							data: { toggle: 'tooltip', placement: "bottom",
								confirm: "Are you sure to pay a bill?" } %>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% else %>
	<p>There is nothing to show. <%= link_to "New one?", new_receipt_path %></p>
<% end %>

<div class="will_page">
	<div class="center">
		<div class="row">
			<div class="col-md-12">
				<%= will_paginate @receipts %>
			</div>
		</div>
	</div>
</div>

<%= link_to "Back to home", root_path, class: "back" %>