<%= title(@receiptcode, "Receipts") %>

<header>
	<h1>Receipt Details</h1>
	<ul class="actions">
		<% if @receipt.bill.employee.nil? && current_user.try(:admin?) %>
			<li><%= link_to "Edit Receipt", [:edit, @receipt], class: "edit" %></li>
			<li><%= link_to "Pay a bill", pay_receipt_path(@receipt),
				method: :patch, class: "pay",
				data: { toggle: 'tooltip', placement: "bottom",
				confirm: "Are you sure to pay a bill?" } %></li>
		<% end %>
	</ul>
</header>

<table class="info">
	<tr>
		<th>ID</th>
		<td><%= @receipt.code %></td>
	</tr>
	<tr>
		<th>Tax code</th>
		<td><%= @receipt.to_tax_code %></td>
	</tr>
	<tr>
		<th>Customer</th>
		<td><%= @receipt.customer.name %></td>
	</tr>
	<tr>
		<th>Room</th>
		<td><%= @receipt.room.name %></td>
	</tr>
	<tr>
		<th>Quantity of people</th>
		<td><%= @receipt.quantity %></td>
	</tr>
	<tr>
		<th>Status</th>
		<td>
			<div class="row">
				<div class="all-grid-system-4">
					<span class="label_type receipt_status-<%= @receipt.status.
						parameterize %>">
						<%= @receipt.status %>
					</span>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Arrival/Departure Date</th>
		<td>
			<% if @receipt.bill.blank? %>
				<%= @receipt.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
				(<%= time_ago_in_words(@receipt.created_at) %> ago)
			<% else %>
				<%= @receipt.bill.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
				(<%= time_ago_in_words(@receipt.created_at) %> ago)
			<% end %>
		</td>
	</tr>
	<tr>
		<th>Employee</th>
		<td><%= @receipt.employee.email %></td>
	</tr>
</table>

<% if current_user.try(:admin?) %>
	<ul class="list-actions">
		<li class="export"><%= link_to "Generate PDF", :action => "show",
			:format => :pdf %></li>
		<li id="spinner" class="spinner" style="display: none;">
	    <%= image_tag("spinner.gif", alt: "Loading") %>
	  </li>
  </ul>
<% end %>

<%= link_to "Back", receipts_path, class: "back" %>