<%= title("Chỉ tiết Biên lai #{@receipt.to_code}") %>

<header>
	<h2>Chỉ tiết Biên lai <%= @receipt.to_code %></h2>
	<ul class="actions">
		<% if @receipt.bill.employee.nil? %>
			<% if (current_user.try(:admin?) || current_user.employee?) %>
			<li><%= link_to "Edit Receipt", [:edit, @receipt], class: "edit" %></li>
			<li><%= link_to "Pay a bill", pay_receipt_path(@receipt),
				method: :patch, class: "pay",
				data: { confirm: "Are you sure to pay a bill?" } %></li>
			<% end %>
			
		<% else %>
			<li><%= link_to "Xem Biên lai", bill_path(@receipt.bill) %></li>
		<% end %>
	</ul>
</header>

<table class="info">
	<tr>
		<th>Mã Biên lai</th>
		<td><%= @receipt.to_code %></td>
	</tr>
	<tr>
		<th>Khách hàng</th>
		<td><%= @receipt.customer.name %></td>
	</tr>
	<tr>
		<th>Phòng</th>
		<td><%= @receipt.room.name %></td>
	</tr>
	<tr>
		<th>Số lượng người</th>
		<td><%= @receipt.quantity %></td>
	</tr>
	<tr>
		<th>Tình trạng</th>
		<td>
			<div class="row">
				<div class="all-grid-system-4">
					<span class="label_type receipt_status-<%= @receipt.status.
						parameterize %>">
						<%= @receipt.status %>
					</span>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>Thời điểm đi/đến</th>
		<td>
			<% if @receipt.bill.blank? %>
				<%= @receipt.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
			<% else %>
				<%= @receipt.bill.created_at.strftime("%d-%m-%Y, %I:%M:%S %p") %>
			<% end %>
		</td>
	</tr>
	<tr>
		<th>Nhân viên</th>
		<td><%= @receipt.employee_name %></td>
	</tr>
</table>

<ul class="list-actions">
	<li class="export"><%= link_to "Xuất PDF", :action => "show",
		:format => :pdf %></li>
	<li id="spinner" class="spinner" style="display: none;">
    <%= image_tag("spinner.gif", alt: "Loading") %>
  </li>
</ul>

<% if @receipt.bill.employee.nil? %>
<div class="listing-index">
	<table>
		<thead>
			<tr>
				<th>STT</th>
				<th>Mô tả</th>
				<th>Đơn vị tính</th>
				<th>Đơn giá</th>
				<th>Số lượng</th>
				<th>Thành tiền</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Tiền thuê phòng</td>
				<td>ngày</td>
				<td><%= format_money(@receipt.room.type.cost) %></td>
				<td><%= pluralize(@receipt.total_days, 'day') %></td>
				<td class="right">
					<%= format_money(@receipt.room.type.cost * @receipt.total_days) %>
				</td>
			</tr>
			<% @receipt_services.each_with_index do |rc, index| %>
					<tr>
						<td><%= index + 2 %></td>
						<td><%= rc.service.name %></td>
						<td><%= service.unit %></td>
						<td><%= format_money(rc.service.price) %></td>
						<td><%= pluralize(rc.service.get_quantity(@receipt), rc.service.unit) %></td>
						<td class="right">
							<%= format_money(rc.service.price * rc.service.get_quantity(@receipt)) %>
						</td>
					</tr>
			<% end %>
			<tr>
				<td colspan="5">Tổng tiền</td>
				<td class="right"><%= format_money(@receipt.amount) %></td>
			</tr>
			<tr>
				<td colspan="5">Thuế VAT (10%)</td>
				<td class="right">+ <%= format_money(@receipt.amount.to_f/10) %></td>
			</tr>
			<tr>
				<td colspan="5">Giảm giá (<%= @receipt.discount %>%)</td>
				<td class="right">
					- <%= format_money(@receipt.amount * @receipt.discount / 100) %> 
				</td>
			</tr>
			<tr>
				<td colspan="5">Trị giá</td>
				<td class="right">
					<strong><%= format_money(@receipt.grand_total) %></strong>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div id="services" ng-controller="ServiceCtrl">
	<header>
		<h2>Dịnh vụ</h2>
		<ul class="actions">
			<li>
			
		<form name="myForm">

		<input name="mySearch" placeholder="Tìm dịch vụ" ng-model="search_by_name"
			style="padding-left: 10px;">

		</form>

			</li>
		</ul>
	</header>

	<header style="margin-top: -20px">
		<ul class="list-unstyled" ng-show="myForm.mySearch.$dirty">
			<li ng-repeat="service in services | orderBy: 'name' | filter:search_by_name">
				{{service.name}} - Page: {{formatNumber($index/10) + 1}} 
			</li>
		</ul>
	</header>

	<div class="listing-index icon-only">
		<%= simple_form_for :update_individual,
			url: update_individual_receipt_path, method: :post do |f| %>
			<table>
			  <thead>
			    <tr>
			      <th>Tên</th>
			      <th>Đơn vị tính</th>
			      <th>Giá</th>
			      <th>Số lượng</th>
			    </tr>
			  </thead>
			  <tbody>
					<% @services.each do |service| %>
						<tr>
							<td><%= service.name %></td>
							<td><%= service.unit %></td>
							<td><%= format_money(service.price) %></td>
							<%= f.simple_fields_for "services[]", service do |r| %>
						    <td><%= r.input :quantity, as: :integer, label: false, 
								input_html: { value: service.get_quantity(@receipt), min: '0' } %></td>
							<% end %>
							
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="will_page">
				<div class="center">
					<div class="row">
						<div class="col-md-12">
							<%= will_paginate @services %>
						</div>
					</div>
				</div>
			</div>
			<%= f.button :submit, value: "Cập nhật ngay!", class: "btn-success" %>
		<% end %>
	</div>
</div>
<% end %>

<%= link_to "Back", :back, class: "back" %>